body {
    background-color: #F7F7F7;
}

.cell_content h2{
    color: #23AD7B;
}
.cell_label {
	font-size: 12px;
	color: #888;
}

.icon_size {
    font-size: 50px;
    color: lightcoral;
}

.cell_content {
    text-align: center;
    width:80%;
    float: left;
}
